---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
    <hr style="margin-top: 30px;">

  <div style="display: flex; justify-content: center; gap: 30px; font-size: 0.9em; color: #666; flex-wrap: wrap; text-align: center; padding: 20px 0;">
    <div>🕒 Last updated: {{ page.last_modified_at | date: "%-d %B %Y" }}</div>
    <div>👁️ Views: <span id="busuanzi_value_site_pv"></span></div>
    <!-- <div>🙋‍♂️ Visitors: <span id="busuanzi_value_site_uv"></span></div> -->
  </div>

<script defer src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    
  </body>
</html>
